@model BookRental.ViewModels.BookRentalViewModel

<button type="submit" class="btn btn-warning btn-sm" href="@Url.Action("Decline", new { model = Model } )" style="width:100px;">
    <span class="glyphicon glyphicon-remove"></span>
    <span>Decline</span>
</button>

