<button type="submit"
        class="btn btn-danger btn-sm"
        style="min-width:8em"
        value="Delete">
    <span class="glyphicon glyphicon-trash"></span>
    <span>Delete</span>

</button>

