@model BookRental.Models.IndividualButtonPartial
<a type="button" 
   style="min-width:8em;"
   class="btn @Model.ButtonType btn-sm" 
   href="@Url.Action(Model.Action)@Model.ActionParameter">
    <span class="glyphicon glyphicon-@Model.Glyph"></span>
    <span>@Model.Text</span>
</a>


