
<div class="pull-right" style="padding-right:15px; margin-left:15px;">
    <button type="submit" class="btn btn-primary btn-sm" value="Search">
        <span class="glyphicon glyphicon-search"></span>
        <span>&nbsp;Search</span>
    </button>
</div>
<div class="pull-right" style="vertical-align:central;">
    @Html.Editor("search", new { htlmattributes = new { @class="form-control input-sm"} })
</div>


